---
const currentYear = new Date().getFullYear();
---

<footer class="bg-[#0d0d3f] py-5 text-center">
  <div class="w-[90%] max-w-[1200px] mx-auto text-[0.9rem] text-white">
    &copy; {currentYear} DigitalMind - Todos los derechos reservados.
  </div>
</footer>